body { 
  margin: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

/*Filas de Peliculas*/
.movie-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  padding: 10px 0;
  gap: 15px;
}

.movie-card {
  scroll-snap-align: start;
}

/*tarjetas*/
.movie-card {
  flex-shrink: 0;
  width: 150px;
  min-width: 150px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}

.movie-card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

/*imagenes*/  
.movie-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/*modal*/
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.95);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .movie-card {
    min-width: 120px;
  }
  
  .movie-img {
    width: 120px;
    height: 180px;
  }

  .modal {
    padding: 10px;
  }
}

/*corazon de favoritos*/
.favorite-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 17px;
  background: rgba(0,0,0,0.7);
  padding: 5px;
  border-radius: 30%;
}